<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset="UTF-8"/>
    <title>Add new comment</title>
</head>
<body>
<div th:if="${message}" th:text="${message}" class="w3-panel w3-red">ERROR MESSAGE!</div>
<!-- Comment save  -->
<form id="edit-form" th:action="@{/comment/save}" th:object="${comment}" th:method="post" class="w3-container">
    <div class="w3-container w3-yellow">
        <h2>New comment:</h2>
    </div>

    <div class="row">
        <label for="title-input">Text:</label>
        <input id="title-input" name="text" type="text" th:value="${comment.text}" class="w3-input"/>
    </div>
    <div class="row">
        <input id="book-id-input" name="BookId" readonly="readonly" type="hidden" th:value="${comment.bookId}"/>
    </div>
    <div class="row">
        <button type="submit" class="w3-btn w3-aqua">Save</button>
    </div>
</form>

</body>
</html>