<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionStorage"
          class="ru.otus.spring.data.QuestionStorage">
    </bean>

    <bean id="questionDao"
          class="ru.otus.spring.dao.QuestionDao">
        <constructor-arg ref="questionStorage"/>
    </bean>

    <bean id="questionOutputService"
          class="ru.otus.spring.service.QuestionOutputService">
        <constructor-arg name="questionDao" ref="questionDao"/>
    </bean>

    <bean id="csvFileReader"
          class="ru.otus.spring.service.CsvFileReader">
        <constructor-arg name="questionDao" ref="questionDao"/>
        <constructor-arg name="fileName" value="questions.csv"/>
    </bean>

    <bean id="fileProcessingService"
          class="ru.otus.spring.service.FileProcessingService">
        <constructor-arg name="fileReader" ref="csvFileReader"/>
        <constructor-arg name="questionOutputService" ref="questionOutputService"/>
    </bean>

</beans>
