<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
    <meta charset="UTF-8"/>
    <title>Edit comment</title>
</head>
<body>
<div th:if="${message}" th:text="${message}" class="w3-panel w3-red">ERROR MESSAGE!</div>
<!-- Comment edition -->
<form id="edit-form" th:action="@{/book/${id}/comment/${commentId}/save(id=${comment.bookId})(commentId=${comment.id})}"
      th:object="${comment}" th:method="post">
    <h1>Edit comment:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${comment.id}" value="1"/>
    </div>
    <div class="row">
        <label for="title-input">Title:</label>
        <input id="title-input" name="title" type="text" th:value="${comment.text}" value="Text"/>
    </div>
    <div class="row">
        <button type="submit" class="w3-btn w3-aqua">Save</button>
    </div>
</form>

</body>
</html>
