<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset="UTF-8"/>
    <title>Add new book</title>
</head>
<body>
<!-- Add new book -->
<form id="new-form" th:action="@{/save}" th:object="${book}" th:method="post">
    <h1>New book:</h1>

    <div class="row">
        <label for="title-input">Title:</label>
        <input id="title-input" name="title" type="text"/>
    </div>

    <div class="row">
        <label for="genre-id-input">Genre id:</label>
        <input id="genre-id-input" name="GenreId" type="text" value="1"/>
    </div>

    <div class="row">
        <label for="authors-name-input">Authors:</label>
        <input id="authors-name-input" name="Authors" type="text" value="NONE"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>