<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
    <meta charset="UTF-8"/>
    <title>Edit book</title>
</head>
<body>
<div th:if="${message}" th:text="${message}" class="w3-panel w3-red">ERROR MESSAGE!</div>
<!-- Book edition -->
<form id="edit-form" th:action="@{/book/edit}" th:object="${book}" th:method="post">
    <h1>Edit book:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" name="Id" type="text" readonly="readonly" th:value="${book.id}"/>
    </div>
    <div class="row">
        <label for="title-input">Title:</label>
        <input id="title-input" name="title" type="text" th:value="${book.title}"/>
    </div>
    <div class="row">
        <label for="genre-input">Genre name:</label>
        <input id="genre-input" name="GenreName" type="text" th:value="${book.genre}"/>
    </div>
    <div class="row">
        <label for="authors-name-input">Authors:</label>
        <input id="authors-name-input" name="Authors" readonly="readonly" type="text" th:value="${book.authors}"/>
    </div>

    <div class="row">
        <button type="submit" class="w3-btn w3-aqua">Save</button>
    </div>
</form>

</body>
</html>
